.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 1.8em;
	height: 60px;
	border: none;
	top: calc(50% - 60px);
	cursor: pointer;
	line-height: 30px;
    text-align: center;
	font-size: 1.5em;
	background: none;
	color: #000;
    z-index: 1;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	color: #333333;
}

.carousel__anterior {
	left: 50px;
}

.carousel__siguiente {
	right: 50px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__elemento img{
	height: 90%;
	width: 50%;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #000;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}

	.carousel__anterior,
	.carousel__siguiente{
		font-size: 1em;
	}

	.carousel__anterior{
		left: -40px;
	}

	.carousel__siguiente{
		right: -40px;
	}

	.carousel__elemento img{
		height: auto;
		width: auto;
	}
}