@media screen and (max-width:700px){
    main{
        background-image: url(../IMG/back-2.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }

    .main__form{
        width: 80%;
        border-radius: 10px;
    }

    .form__side-img{
        display: none;
    }

    .form__inputs{
        width: 100%;
    }

    .inputs__lock-img{
        display: block;
        width: 50%;
        margin: auto;
        margin-top: -6em;
        margin-bottom: 1em;
    }

    .inputs__lock-img img{
        display: block;
        margin: auto;
        height: 64px;
        width: 64px;
    }

    .form__inputs h1{
        font-size: 25px;
    }

    .form__text{
        font-size: 15px;
        margin-top: 2em;
    }

    .form__text a{
        font-size: 15px;
    }

    .text__text-pc{
        display: none;
    }

    .text__text-responsive{
        display: block;
    }
}