@import url(./header_design.css);
@import url(./footer_design.css);
@import url(./carrousel_index.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Dots', cursive;
}

.main__espace-between-header{
    display: none;
}

.main__account{
    background-image: url(../IMG/account_background.jpg);
    background-repeat: no-repeat;
    background-size: cover  ;
    background-attachment: fixed;
    background-position-y: top;
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.account__sign-options{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3em;
    color: #fff;
}

.account__sign-options h1, h3{
    width: 100%;
}

.account__sign-options h1{
    font-size: 1.8em;
}

.account__sign-options h3{
    font-size: 1.2em;
}

.account__sign-options h3{
    letter-spacing: 0.1em;
}

.account__sign-options a{
    letter-spacing: 0.1em;
}

.option__sign-link{
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 0.3em;
    border-style: solid;
    border-color: #fff;
    margin-top: 0.5em;
    margin-right: 1em;
    padding: 0.6em;
    width: 25%;
}

.option__sign-link:hover{
    background-color: #fff;
    color: #000;
}

.main__aboutus{
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 4em;
    justify-content: center;
    padding: 2em;
    padding-top: 10em;
    padding-bottom: 10em;
}

.aboutus__who-we-are,
.aboutus__mision,
.aboutus__vision{
    text-align: center;
}

.main__services{
    background-color: #d6d6d6;
    padding: 2.5em;
}

.main__services h1{
    text-align: center;
}

.main__why-visit-guatemala{
    background-image: url(../IMG/pyramide_aboutus.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover  ;
    min-height: 80vh;
    width: 100%;
}

.why-guatemala__information{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-color: #23272ab9;
}

.information__text{
    width: 50%;
    color: #fff;
    text-align: center;
}