*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 300vh;
}

body{
    font-family: 'Zen Dots', cursive;
    background-image: url(../IMG/guate-img.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

.main__contenedor-vacio{ 
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.vacio__sign{
    color: #fff;
    letter-spacing: 2px;
    width: 90%;
    padding: 15px;
    margin-left: 5em;
    display: flex;
    flex-wrap: wrap;
}

.vacio__sign h1{
    font-size: 30px;
    margin-bottom: 2px;
    width: 100%;
}

.vacio__sign h3{
    margin-bottom: .5em;
    font-size: 20px;
    font-weight: 100;
    width: 100%;
}

.sign__boton{
    background: transparent;
    border-style: solid;
    border-color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    margin-right: .5em;
    cursor: pointer;
}

.sign__boton:hover{
    background-color: #fff;
}

.sign__boton a{
    font-family: 'Zen Dots', cursive;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

.sign__boton:hover a{
    color: #000;
}

.main__services{
    background-color: #acacac;
    padding: 1em;
    width: 99%;
    margin: auto;
    margin-bottom: 1em;
}

.services__tittle{
    width: 100%;
    text-align: center;
}

.services__names{
    display: flex;
    justify-content: center;
    text-align: center;
}

.services__img{
    width: 80%;
}

.main__aboutus{
    background-color: #fff;
    width: 99%;
    margin: auto;
    margin-bottom: 1em;
}

/*.aboutus__descripcion{
    display: flex;
    align-items: center;
    height: 70%;
    width: 80%;
    padding: 20px;
}*/

.aboutus__text{
    height: 80%;
    width: 50%;
    margin-right: 5em;
    padding: 20px;
    letter-spacing: 1px;
}


.aboutus__descripcion img{
    height: 80%;
    width: 50%;
}

.main__guatemala{
    background: #6789ac;
    height: 100vh;
    width: 99%;
    margin: auto;
}


