@import url(./header_design.css);

@media screen and (max-width:700px){

    body{
        background-image: url(../IMG/responsive-bg.jpg);
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .vacio__sign{
        width: 100%;
        margin-left: 0;
    }

    .vacio__sign h1{
        margin-bottom: 2px;
        font-size: 17px;
    }

    .vacio__sign h3{
        margin-bottom: .5em;
        font-size: 12px;
    }

    .sign__boton{
        border-radius: 5px;
        padding: 10px;
        width: 45%;
    }

    .sign__boton:hover{
        background-color: #fff;
    }

    .sign__boton a{
        text-decoration: none;
        color: #fff;
        font-family: 'Zen Dots', cursive;
        font-size: 13px;
        letter-spacing: 1px;
    }

    .sign__boton:hover a{
        color: #000;
    }

    .main__services{
        margin: auto;
        margin-bottom: 1em;
        width: 99%;
    }

    .services__names{
        flex-wrap: wrap;
    }

    .service{
        justify-content: center;
        margin: 1em;
    }       

    .services__airlines p{
        font-size: 15px;
    }

    .services__restaurant p{
        font-size: 14px;
    }

    .main__aboutus{
        width: 99%;
        margin: auto;
        margin-bottom: 1em;
    }

    .aboutus__descripcion img{
        display: none;
    }

    .aboutus__text{
        text-align: center;
        font-size: 15px;
        height: 100%;
        width: 100%;
    }

    .aboutus__text h1{
        font-size: 24px;
    }

    .main__guatemala{
        width: 99%;
        margin: auto;
    }

    

}