@media screen and (max-width:768px){
    .main__espace-between-header{
        display: block;
        height: 60px;
        background-color: aqua;
    }

    .main__account{
        background-image: url(../IMG/account_background_responsive.jpg);
        background-position: center;
        background-size: cover;
        height: 30vh;
    }

    .account__sign-options{
        width: 80%;    
        margin-left: 2em;
    }
    
    .account__sign-options h1, h3{
        width: 100%;
    }
    
    .account__sign-options h1{
        font-size: 1.1em;
    }

    .account__sign-options h3{
        font-size: 0.9em;
    }

    .account__sign-options h3, a{
        letter-spacing: 0.1em;
    }

    .option__sign-link{
        width: auto;
        font-size: 0.7em;
    }
    
    .option__sign-link:hover{
        background-color: #fff;
        color: #000;
    }

    .main__aboutus{
        grid-template-columns: 90%;
        gap: 2em;
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .information__text{
        width: 90%;
    }

}