*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Zen Dots', cursive;
    background-image: url(../IMG/guate-img.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main__contenedor-vacio{
    height: 80vh; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__tittle-2{
    color: #fffafa;
    text-align: center;
    letter-spacing: 2px;
}

.main__aboutus{
    background-color: #F2F1F1;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutus__descripcion{
    display: flex;
    align-items: center;
    height: 70%;
    width: 80%;
    padding: 20px;
}

.aboutus__text{
    background-color: #ece8e8;
    height: 80%;
    width: 50%;
    margin-right: 5em;
    padding: 20px;
    letter-spacing: 1px;
}

.aboutus__descripcion img{
    height: 80%;
    width: 50%;
}

.main__guatemala{
    background: #6789ac;
    height: 100vh;
    width: 100%;
}

@media screen and (max-width:700px){

    body{
        background-image: url(../IMG/responsive-bg.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100%;
    }

    .main__contenedor-vacio{
        text-align: center;
        font-size: 10px;
        height: 100vh;
    }

    .main__aboutus{
        width: 90%;
        margin: auto;
        margin-bottom: 1em;
    }

    .aboutus__descripcion{
        padding: 0;
    }

    .aboutus__descripcion img{
        display: none;
    }

    .aboutus__text{
        text-align: center;
        font-size: 15px;
        height: 100%;
        width: 100%;
        margin-right: 0;
    }

    .main__guatemala{
        width: 90%;
        margin: auto;
    }

}